<h1 >hello menu</h1>

<div data-controller="toggle">
  <button class="button-7" role="button-7">menu</button>
</div>
<button data-action="click->toggle#fire" class="button21" role="button"></button>
<div data-toggle-target="toggalableElement" class="displaynone">
  <ul>
    <li>home</li>
    <li>about</li>
    <li>contact</li>
  </ul>
</div>
