<h1>Hello Menu</h1>

<!-- The toggle controller should manage the functionality -->
<div data-controller="toggle">
  <button data-action="click->toggle#toggle" class="button-7" role="button">Menu</button>
  <!-- Toggle target is the div containing the menu -->
  <div data-toggle-target="toggalableElement" class="displaynone">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
</div>
